@tailwind base;

@layer base {
  body {
    @apply bg-slate-800  text-white  text-lg;
  }
  main {
    @apply m-6 md:m-12;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl mb-5 text-cyan-400;
  }
  a {
    @apply text-cyan-400 hover:text-cyan-300;
  }
  p {
    @apply mb-5 text-lg;
  }
  li {
    @apply text-lg;
  }
  input,
  textarea {
    @apply border text-base  md:text-lg  text-white rounded-none;
  }
  button {
    @apply rounded text-lg;
  }
  label {
    @apply text-lg;
  }
  option {
    @apply font-normal text-slate-800;
  }
}

@tailwind components;

@tailwind utilities;

/*bg-gradient-to-l from-cyan-500 to-blue-500 hover:from-blue-500 hover:to-cyan-500*/

@font-face {
  font-family: "IBM Plex";
  src: url("/fonts/IBMPlexSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: IBM Plex, sans-serif;
}

#nav {
  width: 400px;
  max-width: 100%;
}

#nav[data-state="closed"] {
  left: -100%;
}

#nav[data-state="closed"] ul {
  opacity: 0;
}

details[open] > summary {
  color: rgb(165, 243, 252);
}

details {
  border-bottom: 1px solid;
}

details[open] {
  border-bottom: none;
}
